* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
    background-color: #F3F5FC;
    color: darkblue;
    line-height: 1.6;
    font-size: 16px;
    padding-top: 50px; 
}

header {
    left: 20px;
    top: 20px;
}

header img {
    width: Fixed (120px)px;
    height: Fixed (48px)px;
    top: 40px;
    left: 40px;
    gap: 40px;
    opacity: 0px;
}

.contenedor-principal {
    display: grid;
    grid-template-columns: 60% 30%;
    gap: 24px;
    padding: 20px;
    margin-left: 9%;
}

.principal {
    background-color: #f0f0f0;
    padding: 10px;
}

.aside {
    background-color: white;
    padding: 10px;
}


